@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1; 
    background-color: transparent;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1; 
    background-color: transparent;
}

li, a, p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}

/* Adjustments for mobile phones */
@media (max-width: 768px) {
    h2, li, a, p {
        font-size: 16px; /* Adjust size for readability */
    }

    h3 {
        font-size: 14px;
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-bottom-style: solid;
    border-bottom-color: #edf0f1;
    border-bottom-width: 1px;
}

/* Adjustments for mobile phones */
@media (max-width: 768px) {
    .nav__links li.hide-on-small {
        display: none; /* Hides the element */
    }
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-top-style: solid;
    border-top-color: #edf0f1;
    border-top-width: 1px;
}

.right-align {
    text-align: right;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    flex-wrap: wrap;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

.title-div a {
    transition: all 0.3s ease 0s;
}

.title-div a:hover {
    color: #0088a9;
}

.contactme-entry a {
    transition: all 0.3s ease 0s;
}

.contactme-entry a:hover {
    color: #0088a9;
}

.title-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 10%;
}

.aboutme-entry {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding: 5% 10% 5% 10%;
    border-bottom-style: solid;
    border-bottom-color: #edf0f1;
    border-bottom-width: 1px;
}

.aboutme-thumbnail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: 40%;
    background-color: transparent;
    margin: 2% 2% 2% 0%;
}

.aboutme-description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    background-color: transparent;
    margin: 2% 0% 2% 2%;
}

/* Adjustments for mobile phones and tablets */
@media (max-width: 1024px) {
    .aboutme-entry {
        flex-direction: column; /* Stack items vertically */
        padding: 5% 5%; /* Adjust padding for smaller screens */
    }

    .aboutme-thumbnail,
    .aboutme-description {
        width: 100%; /* Make each section take full width */
        margin: 2% 2% 2% 2%;
    }
}

.contactme-entry {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 5% 10% 5% 10%;
}

.comment-entry {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding: 5% 15% 5% 15%;
    border-bottom-style: solid;
    border-bottom-color: #edf0f1;
    border-bottom-width: 1px;
}

.comment-entry:hover {
    background-color: #0088a9;
    transition: 0.3s ease;
    cursor: pointer;
}

.comment-thumbnail-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    width: 40%;
    background-color: transparent;
    margin: 2% 2% 2% 0%;
}

.thumbnail-left {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: transparent;
    height: 70%
    
}

.comment-thumbnail-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
    width: 40%;
    background-color: transparent;
    margin: 2% 0% 2% 2%;
}

.thumbnail-right {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: transparent;
    height: 70%
    
}

img {
    max-width: 100%;
    min-width: 50px; /* Example minimum width */
    min-height: 50px; /* Example minimum height */
    object-fit: cover;
}

.comment-description-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    background-color: transparent;
    margin: 2% 0% 2% 2%;
}

.comment-description-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    background-color: transparent;
    margin: 2% 2% 2% 0%;
}

@media (max-width: 1024px) {
    .comment-entry {
        flex-direction: column;
        padding: 5% 3%;
    }

    .comment-thumbnail-left,
    .comment-description-left,
    .thumbnail-left,
    .comment-thumbnail-right,
    .comment-description-right,
    .thumbnail-right {
        width: 95%; /* Make each section take full width */
        justify-content: center;
        margin: 2% 2% 2% 2%;
    }
}

.description {
    background-color: transparent;
}

@media (max-width: 1024px) {
    .description {
        padding: 5% 5%;
    }
}

.space-maker {
    height: 40px;
    background-color: transparent;
}

.title {
    padding: 5% 15% 5% 15%;
}

#interests-div {
    border-bottom-style: solid;
    border-bottom-color: #edf0f1;
    border-bottom-width: 1px;
}

